{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Albums{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>album_id</b></th>
    <th><b>Name</b></th>
    <th><b>Artist</b></th>
   </tr>
   
  {% for album in ALBUMS %}
    <tr>
      <td>{{ album.album_id}}</td>
      <td><a href="/albums/{{ album.album_id }}">{{ album.Name }}</a></td>
      <td><a href="/artist/{{ album.Artist }}">{{ album.Artist }}</a></td>
    </tr>
  {% endfor %}
  </table>  
{% endblock %}

