{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Songs{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>song_id</b></th>
    <th><b>Name</b></th>
    <th><b>Artist</b></th>
    <th><b>Album</b></th>
    <th><b>Duration(s)</b></th>
   </tr>
   
  {% for song in SONGS %}
    <tr>
      <td><a href="/songs/{{ song.song_id }}">{{ song.song_id}}</a></td>
      <td>{{ song.Name }}</td>
      <td>{{ song.Artist }}</td>
      {% if song.Album != None %}
      <td><a href="/albums/{{ song.Album }}">{{ song.Album }}</a></td>
      {% endif %}
      {% if song.Album == None %}
      <td>{{ song.Album }}</td>
      {% endif %}
      <td>{{ song.Duration }}</td>
    </tr>
  {% endfor %}
  </table>  
{% endblock %}

